.grey{
    background-color: #585E6C ;
}

.grey-dark{
    background-color: #424752 ;
}

.container-center{
margin-left: 36%;
margin-right: 30%;
display: flex !important;
align-items: center !important;
}