.grey{
    background-color: #585E6C ;
}

.grey-dark{
    background-color: #424752 ;
}

#movies img,
#movie img{
    width: 100%;
}

.brand-text{
    font-size: 2rem;
}

.container-center{
margin-left: 36%;
margin-right: 30%;
display: flex !important;
align-items: center !important;
}

#react-logo{
color: #00d8ff;
}

#imdb-logo{
    color: #f5de50;
}



@media (min-width: 960px){
    #movies .col-md-3 .well{
        height: 390px;
    }

    #movies  .col-md-3 img{
        height: 240px;
        border-style: ;
        border-radius: 20%;
    }

}

.Input-text {
    margin: 0;
    padding:  0.8rem, 1.6rem;
    width: 60%;
    height: 10%;
    display: initial;
    font-family: inherit;
    line-height: 1.8;
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow 300ms;
  }

  .footer{
    width: 100%;
    position: absolute;
    height: 0rem;
    bottom: 0px;
  }


